.contact-main {
  margin-top: 30px;
  background-color: #071625;
  color: #99854d;
  display: block;
  padding: 60px 60px 1px;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;

  iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 400px;
  }
}