@font-face {
  font-family: "SansationItalic";
  src: url("/fonts/SansationItalic/SansationItalic.eot");
  src: url("/fonts/SansationItalic/SansationItalic.eot?#iefix")format("embedded-opentype"),
  url("/fonts/SansationItalic/SansationItalic.woff") format("woff"),
  url("/fonts/SansationItalic/SansationItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}