.main {
  padding: 60px;
  
  &__logo img {
    display: block;
    margin: 25px 0 30px 8%;
    width: 100px;
    height: 100px;
  }

  &__slider-wrapper {
    border: 1px solid black;
    margin: auto;
    width: 60%;
    height: 500px;
    position: relative;
  }

  &__slider-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  &__slider-container img {
    width: 100%;
    height: 500px;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
  }

  &__slider-container &__opacity0 {
    opacity: 0;
  }

  &__slider-btn--left {
    background: url(/src/images/btn-left.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 10px;
    cursor: pointer;
  }

  &__slider-btn--right {
    background: url(/src/images/btn-right.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    right: 10px;
    cursor: pointer;
  }
}