body {
  margin: 0 auto;
  max-width: 1100px;
}

.header {
  position: relative;

  &__slider-wrapper {
    border: 1px solid black;
    width: 100%;
    height: 600px;
    position: relative;
  }

  &__slider-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
  }

  &__slider-container img {
    width: 100%;
    height: 600px;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
  }

  &__slider-container &__opacity0 {
    opacity: 0;
  }

  &__slider-btn--left {
    background: url(/src/images/btn-left.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 10px;
    cursor: pointer;
  }

  &__slider-btn--right {
    background: url(/src/images/btn-right.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    right: 10px;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
  }

  &__logo {
    width: 100px;
    height: 100px;;
  }

  &__nav ul {
    margin: auto;
    display: grid;
    grid-template-columns: auto 6px auto 6px auto 6px auto;
    grid-template-rows: 60px;
  }

  &__nav ul li {
    list-style: none;
    text-transform: uppercase;
    background-color: #071625;
  }

  &__nav ul li a {
    text-decoration: none;
    line-height: 60px;
    color: #6c634a;
    margin: 0 15px;
    cursor: pointer;
  }

  &__nav-line {
    background-color: #fff;
    line-height: 60px;
  }
}

.article {
  text-align: center;

  &__wrapper {
    // display: flex;
    padding: 60px;
  }

  &__container {
    // width: 60%;
  }

  &__title {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    margin: 0;
  }

  &__description {
    font-size: 25px;
  }

  &__img {
    width: 200px;
    height: 200px;
  }
}