.menu-main {
  &__search {
    position: relative;
    margin: 25px auto 0;
    width: 96%;
    cursor: pointer;
  }

  &__search-form {
    width: 100%;
    height: 48px;
    border: 0;
    border-bottom: 1px solid #757575;
    opacity: 0.6;
    font-size: 18px;
    color: black;
  }
    
  &__search-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 30%;
    width: 20px;
    border: none;
    color: #49a144;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
  }

  &__restaurant {
    padding: 40px;
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  &__item {
    padding: 0 0 20px;
  }

  &__image {
    width: 330px;
    height: 220px;
    border-radius: 5px;
    transition: transform 0.5s;
  }

  &__image:hover {
    transform: translate(0, -30px);
  }

  &__title {
    margin-top: 16px;
    font-size: 26px;
    font-weight: normal;
    line-height: 24px;
    color: #1d1d1d;
    text-align: center;
  }

  &__weight {
    padding: 15px;
    font-size: 25px;
    font-weight: normal;
    line-height: 21px;
    color: #626262;
    margin: 4px auto 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
  }

  &__weight:hover {
    color: #99854d;
    background-color: #071625;
  }
}